include /bower_components/pilot-frame/jade/index

+html
  +head
    +style('demo.css')
    +style('../css/index.css')
  body
    .plump-group.-round.-white
      .plump.-white: .slot plump
      .plump.-white: .slot plump
      .plump.-white: .slot plump
