include /bower_components/pilot-frame/jade/index

+html
  +head
    +style('demo.css')
    +style('../css/index.css')
  body
    .plump.-round.-white
      .slot plump
    .plump.-round.-white
      .slot plump
      .slot plump
    .plump.-round.-white
      .slot plump
      .slot plump
      .slot plump
