include /bower_components/pilot-frame/jade/index

+html
  +head
    +style('demo.css')
    +style('../css/index.css')
  body
    .demo
        .plump-group.-round
          .plump.-white: .slot plump
    .demo
      .plump-group.-round
        .plump.-white: .slot plump
        .plump.-white: .slot plump
    .demo
      .plump-group.-round
        .plump.-white: .slot plump
        .plump.-white: .slot plump
        .plump.-white: .slot plump
    .demo
        .plump-group.-column.-round
          .plump.-white: .slot plump
    .demo
      .plump-group.-column.-round
        .plump.-white: .slot plump
        .plump.-white: .slot plump
    .demo
      .plump-group.-column.-round
        .plump.-white: .slot plump
        .plump.-white: .slot plump
        .plump.-white: .slot plump
