@import 'bower_components/color-sass/scss/main';
@import 'bower_components/pilot-reset/scss/main';

$color: mix($blue, $green, random(100));
$color-light: rgba($color, 0.5);
$color-dark: rgba($color, 0.75);

* {
  transition: box-shadow 0.25s ease-in-out;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.25em $color-dark;
}

body {
  color: $color-dark;
  background: $color-light;
}

::-webkit-input-placeholder {
  color: $color-dark;
}

h1 {
  color: $white;
  font-size: 4.5em;
  font-weight: bold;
  text-align: center;
}

.demo {
  width: 25em;
  margin: auto;
  padding: 0.5em 1em;
}
