mixin input
  input(size='1')&attributes(attributes)

include /bower_components/pilot-frame/jade/index

+html
  +head
    style
      include docs.css
      include /css/index.css

  body
    .demo: h1 PLUMP
    .demo
      .plump-group.-round
        .plump.-white: .slot Plump
    .demo
      .plump-group.-round
        .plump.-white: .slot Plump
        .plump.-white: .slot Plump
    .demo
      .plump-group.-round
        .plump.-white: .slot Plump
        .plump.-white: .slot Plump
        .plump.-white: .slot Plump
    .demo
      .plump-group.-column.-round
        .plump.-white: .slot Plump
    .demo
      .plump-group.-column.-round
        .plump.-white: .slot Plump
        .plump.-white: .slot Plump
    .demo
      .plump-group.-column.-round
        .plump.-white: .slot Plump
        .plump.-white: .slot Plump
        .plump.-white: .slot Plump

    .demo: h1 BUTTON
    .demo
      .plump-group.-button.-round
        .plump.-white: .slot Plump
    .demo
      .plump-group.-button.-round
        .plump.-white: .slot Plump
        .plump.-white: .slot Plump
    .demo
      .plump-group.-button.-round
        .plump.-white: .slot Plump
        .plump.-white: .slot Plump
        .plump.-white: .slot Plump
    .demo
      .plump-group.-button.-column.-round
        .plump.-white: .slot Plump
    .demo
      .plump-group.-button.-column.-round
        .plump.-white: .slot Plump
        .plump.-white: .slot Plump
    .demo
      .plump-group.-button.-column.-round
        .plump.-white: .slot Plump
        .plump.-white: .slot Plump
        .plump.-white: .slot Plump

    .demo: h1 INPUT
    .demo
      .plump-group.-round
        .plump.-white.-round: +input.slot(type='text' placeholder='Plump')
    .demo
      .plump-group.-round
        .plump.-white.-round: +input.slot(type='text' placeholder='Plump')
        .plump.-white.-round: +input.slot(type='text' placeholder='Plump')
    .demo
      .plump-group.-round
        .plump.-white.-round: +input.slot(type='text' placeholder='Plump')
        .plump.-white.-round: +input.slot(type='text' placeholder='Plump')
        .plump.-white.-round: +input.slot(type='text' placeholder='Plump')
    .demo
      .plump-group.-column.-round
        .plump.-white.-round: +input.slot(type='text' placeholder='Plump')
    .demo
      .plump-group.-column.-round
        .plump.-white.-round: +input.slot(type='text' placeholder='Plump')
        .plump.-white.-round: +input.slot(type='text' placeholder='Plump')
    .demo
      .plump-group.-column.-round
        .plump.-white.-round: +input.slot(type='text' placeholder='Plump')
        .plump.-white.-round: +input.slot(type='text' placeholder='Plump')
        .plump.-white.-round: +input.slot(type='text' placeholder='Plump')
