include /bower_components/pilot-frame/jade/index

+html
  +head
    style
      include docs.css
      include /css/index.css

  body
    .demo
      h1 BUTTONS
    .demo
        .plump-group.-round
          .plump.-white: .slot plump
    .demo
      .plump-group.-round
        .plump.-white: .slot plump
        .plump.-white: .slot plump
    .demo
      .plump-group.-round
        .plump.-white: .slot plump
        .plump.-white: .slot plump
        .plump.-white: .slot plump
    .demo
        .plump-group.-column.-round
          .plump.-white: .slot plump
    .demo
      .plump-group.-column.-round
        .plump.-white: .slot plump
        .plump.-white: .slot plump
    .demo
      .plump-group.-column.-round
        .plump.-white: .slot plump
        .plump.-white: .slot plump
        .plump.-white: .slot plump
