.plump-group
  display: flex
  min-height: em(32) // FIX: Use plump on `<select>`

  .plump
    flex: 1 0 auto // BUG: Safari and Android sets `flex-basis: 0` when using shorthand

    + .plump
      margin: em(0 0 0 2)

  &.-button > .plump
    @extend %plump-button

  &.-column
    flex-flow: column

    > .plump + .plump
      margin: em(2 0 0)
