.plump
  display: flex
  white-space: no-wrap
  -webkit-appearance: none
  -webkit-user-select: none

  > .slot
    flex: 1 0 auto // safari and android flex-basis bug
    padding: em(8)

    &:first-child
      padding: em(8 6 8 12)

    &:last-child
      padding: em(8 12 8 6)

    &:only-child
      padding: em(8 12)

.plump.-button
  @extend %plump-button

.plump.-input
