.plump
  display: flex
  white-space: no-wrap
  user-select: none
  -webkit-appearance: none
     -moz-appearance: none

  > .slot
    flex: 1 0 auto // BUG: Safari and Android sets `flex-basis: 0` when using shorthand
    padding: em(8)

    &:first-child
      padding: em(8 6 8 12)

    &:last-child
      padding: em(8 12 8 6)

    &:only-child
      padding: em(8 12)

.plump.-button
  @extend %plump-button

.plump.-input
